{{#partial "content" }}

    <div class="grid-row">

        <div class="column-two-thirds">

            <a href="{{back_url}}" class="link-back">{{back_button_text}}</a>

            <h1 class="heading-xlarge">What is your email address?</h1>

            {{#message}}
                {{> partial/error-message }}
            {{/message}}

            <form action="" method="POST" autocomplete="off" novalidate="">

                <div class="form-group {{#message}}form-group-error{{/message}}">
                    <label for="emailAddress" class="form-label">
                        Email address
                        {{#message}}<span class="error-message">{{ message }}</span>{{/message}}
                        <span class="form-hint">Your reminder will be sent here</span>
                    </label>

                    <input type="email" name="emailAddress" id="emailAddress" class="form-control" value="{{email}}">

                </div>

                <div class="form-group">
                    <input type="submit" value="{{continue_button_text}}" class="button" id="continue">
                </div>

            </form>

        </div>

    </div>

{{/partial}}
{{> master pageTitle="What is your email address? – MOT reminders"}}
