<!DOCTYPE html>
<!--[if lte IE 8 ]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{{{asset this '/images/opengraph-image.png' }}}">

    <title>{{{pageTitle}}}</title>

    {{#shouldUseAnalytics}}
        {{#dataLayer}}
            <script>
                dataLayer = [{{{dataLayer}}}];
            </script>
        {{/dataLayer}}
        <!-- Google Tag Manager -->
        <script>
            (function (w,d,s,l,i) {
                w[l]=w[l]||[];w[l].push(
                    {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),
                dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-TVLB97T');
        </script>
        <!-- End Google Tag Manager -->
    {{/shouldUseAnalytics}}

    <!--[if IE 8]>
    <script type="text/javascript">
        (function(){if(window.opera){return;}
            setTimeout(function(){
                var a=document,g,
                    b={families:(g=["nta"]),
                    urls:[{{{asset this "/old-assets/stylesheets/fonts-ie8.css"}}}]},
                    c={{{asset this "/old-assets/javascripts/webfont-debug.js"}}},
                    d="script",e=a.createElement(d),f=a.getElementsByTagName(d)[0],
                    h=g.length;WebFontConfig={custom:b},e.src=c,f.parentNode.insertBefore(e,f);
                    for(;h=h-1;a.documentElement.className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');}
            ,0)
        })()
    </script>
    <![endif]-->

    <!--[if lt IE 9]><!-->
    <script src="{{{asset this '/javascripts/ie-shims.js' }}}"></script>
    <!--<![endif]-->

    <link rel="shortcut icon" href="{{{asset this '/misc/favicon.ico?0.22.1'}}}" type="image/x-icon"/>
    <link rel="mask-icon" href="{{{asset this '/images/gov.uk_logotype_crown.svg?0.22.1' }}}" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="{{{asset this '/images/apple-touch-icon-180x180.png?0.22.1'}}}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{{asset this '/images/apple-touch-icon-167x167.png?0.22.1'}}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{{asset this '/images/apple-touch-icon-152x152.png?0.22.1'}}}">
    <link rel="apple-touch-icon" href="{{{asset this '/images/apple-touch-icon.png?0.22.1'}}}">
    <link rel="manifest" href="{{{asset this '/misc/manifest-motr.json'}}}">

    <link href="{{asset this '/stylesheets/styles.css'}}" media="all" rel="stylesheet" type="text/css"/>

    {{> partial/cookie-manager-config }}
</head>

<body class="motr ">
    {{#shouldUseAnalytics}}
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVLB97T" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {{/shouldUseAnalytics}}
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <!-- skiplink -->
    <div id="skiplink-container">
      <div><a href="#content" class="skiplink">Skip to main content</a></div>
    </div>

    {{> partial/cookie-preferences-banner }}

    <!-- header -->
    <header id="global-header" class="with-proposition">
        <div class="header-wrapper">
            <div class="header-global">
                <div class="header-logo">
                    <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
                        <img src="{{{asset this 'images/gov.uk_logotype_crown_invert_trans.png?0.22.1'}}}" width="36" height="32" alt="GOV UK Crown">
                        GOV.UK
                    </a>
                </div>
            </div>

            <div class="header-proposition">
                <div class="content">
                    <nav id="proposition-menu">
                        <a href="https://www.gov.uk/mot-reminder" id="proposition-name">Get an annual MOT reminder</a>
                    </nav>
                </div>
            </div>

        </div>
    </header>
    <!-- header bar -->
    <div id="global-header-bar"></div>

    <!-- main content -->
        <main id="content">

            <div class="phase-banner">
                <p>
                    <strong class="phase-tag">BETA</strong>
                    <span>This is a new service – your <a href="{{#if smartSurveyFeedback}}{{smartSurveyFeedback}}{{else}}http://www.smartsurvey.co.uk/s/MKVXI/{{/if}}" target="_blank">feedback</a> will help us to improve it.</span>
                </p>
            </div>

            {{#block "content"}}

            {{/block}}

        </main>
    <!-- / #content -->

    <!-- footer -->
        <footer class="group js-footer" id="footer">
            <div class="footer-wrapper">
                <div class="footer-meta">
                    <div class="footer-meta-inner">
                        <h2 class="visuallyhidden">Support links</h2>
                        <ul>
                            <li><a href="{{{url this "/cookies"}}}" id="cookiesLink">Cookies</a></li>
                            <li><a href="{{{url this "/terms-and-conditions"}}}" id="terms-and-conditions-link">Terms and conditions</a></li>
                            <li><a href="https://www.gov.uk/dvsa/privacy" target="_blank" id="privacy-notice-link">Privacy notice</a></li>
                            <li><a href="{{{url this "/accessibility-statement"}}}" id="accessibility-statement-link">Accessibility Statement</a></li>
                            <li>Built by the <a href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency">Driver &amp;
                                Vehicle Standards Agency</a></li>
                            <li class="visuallyhidden" tabindex="-1">Release {{{release-version}}}</li>
                        </ul>
                        <div class="open-government-licence">
                            <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open
                                Government Licence</a></p>
                            <p>All content is available under the <a
                                    href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government
                                Licence v3.0</a>, except where otherwise stated</p>
                        </div>
                    </div>

                    <div class="copyright">
                        <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
                    </div>
                </div>
            </div>
        </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <div class="hidden">{{{requestId this}}}</div>

    
    <!--[if (gte IE 9) | (!IE)]><!-->
    <script type="text/javascript" src="{{{asset this '/javascripts/vendor.bundle.js'}}}"></script>
    <script type="text/javascript" src="{{{asset this '/javascripts/dvsa.bundle.js'}}}"></script>
    <!--<![endif]-->
  </body>
</html>
