{{#partial "content" }}

    <div class="grid-row u-space-b30">

        <div class="column-two-thirds">

            <h1 class="heading-large">Check your details</h1>

            <p>Make sure the vehicle and your {{#if viewModel.emailChannel}}email address{{else}}mobile number{{/if}} are correct.</p>

            <h2 class="heading-medium">Vehicle details</h2>

            <table class="key-value-list">

                <tbody>

                    <tr>
                        <th class="key-value-list__key">Registration number</th>
                        <td class="key-value-list__value">{{viewModel.registration}}</td>
                        <td class="key-value-list__item-action"><a id="change-registration-link" href="{{url this "/vrm"}}">Change<span class="visuallyhidden"> vehicle registration</span></a></td>
                    </tr>

                    <tr>
                        <th class="key-value-list__key">Make</th>
                        <td class="key-value-list__value" colspan="2">{{viewModel.make}}</td>
                    </tr>

                    <tr>
                        <th class="key-value-list__key">Model</th>
                        <td class="key-value-list__value" colspan="2">{{viewModel.model}}</td>
                    </tr>

                    <tr>
                        <th class="key-value-list__key">Colour</th>
                        <td class="key-value-list__value" colspan="2">{{viewModel.colour}}</td>
                    </tr>

                    <tr>
                        <th class="key-value-list__key">Year of manufacture</th>
                        <td class="key-value-list__value" colspan="2">{{viewModel.yearOfManufacture}}</td>
                    </tr>

                    <tr>
                        {{#if viewModel.dvlaVehicle}}
                            <th class="key-value-list__key">MOT due date</th>
                        {{else}}
                            <th class="key-value-list__key">MOT expiry date</th>
                        {{/if}}
                        <td class="key-value-list__value" colspan="2">{{viewModel.expiryDate}}</td>
                    </tr>

                </tbody>

            </table>

        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <details>
                <summary role="button"><span class="summary">Incorrect vehicle details?</span></summary>
                <div class="panel panel-border-narrow">
                    <p>If you think any of the vehicle details are wrong, <a href="https://www.gov.uk/contact-dvsa/y/mot-vehicle-tests-and-approval" target="_blank">contact DVSA</a></p>
                </div>
            </details>

        </div>
    </div>

    <div class="grid-row u-space-b30">
        <div class="column-two-thirds">

            <h2 class="heading-medium">Your details</h2>

            <table class="key-value-list">

                <tbody>

                    <tr>
                        <th class="key-value-list__key">{{#if viewModel.emailChannel}}Email address{{else}}Mobile number{{/if}}</th>
                        <td class="key-value-list__value">{{viewModel.contact}}</td>
                        <td class="key-value-list__item-action">
                            {{#if viewModel.emailChannel}}
                                <a id="change-email-link" href={{url this "/email"}}>Change <span class="visuallyhidden">Email address</span></a>
                            {{else}}
                                <a id="change-mobile-link" href={{url this "/phone-number"}}>Change <span class="visuallyhidden">Mobile number</span></a>
                            {{/if}}
                        </td>
                    </tr>

                </tbody>

            </table>
            
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <form id="reviewForm" method="POST">
                <div class="form-group">
                    <input id="continue-button" type="submit" value="Continue" class="button">
                </div>
            </form>

        </div>
    </div>
{{/partial}}
{{> master pageTitle="Check your details – MOT reminders"}}

<script type="text/javascript">
    (function() {
        document.getElementById("reviewForm").onsubmit = function() {
            document.getElementById("continue-button").setAttribute("disabled", true);
        };
    })();
</script>