{{#partial "content" }}

    <div class="grid-row">

        <div class="column-two-thirds">

            <a href="{{back_url}}" class="link-back">{{back_button_text}}</a>

            {{#message}}
                {{> partial/error-message }}
            {{/message}}

            {{#showSystemError}}
                {{> partial/system-error }}
            {{/showSystemError}}

            <h1 class="heading heading-large heading--large">What is the vehicle’s registration number?</h1>

            <form method="POST" autocomplete="off" novalidate="" action="vrm">

                <div class="form-group {{#message}}form-group-error{{/message}}" id="reg-number-input">
                    <label for="regNumber" class="form-label">
                        Registration number (number plate)
                        <span class="form-hint">For example, CU57ABC</span>
                        {{#showInLine}}<span class="error-message">{{ message }}</span>{{/showInLine}}
                    </label>

                    <input class="form-control" id="regNumber" name="regNumber" type="text" style="text-transform: uppercase;" value="{{vrm}}">

                    <label for="honey" class="visuallyhidden">Leave this blank</label>

                    <input class="visuallyhidden" tabindex="-1" id="honey" name="honey" title="This field should be left blank" type="text" value="">

                </div>

                <div class="form-group">
                    <input type="submit" value="{{continue_button_text}}" id="continue" class="button">
                </div>

            </form>
            {{#if isTrailerToggleOn}}
                <details role="group">
                    <summary role="button" aria-controls="details-content-0" aria-expanded="false">
                        <span class="summary" id="looking-for-trailer-section">Looking for HGV trailer reminders?</span>
                    </summary>
                    <div class="panel panel-indent" id="details-content-0" aria-hidden="true">
                        <p>You can get HGV trailer annual test reminders on MOT reminders. Enter
                            the trailer ID into the registration number input field to search for HGV
                            trailers.
                        </p>
                        <p>For example, C236718 or A787121.</p>
                    </div>
                </details>
            {{/if}}
        </div>

    </div>

{{/partial}}
{{> master pageTitle="What is the vehicle’s registration number? – MOT reminders"}}
